Repository K-Sato1995/flutter_sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, lib, ios, docs

s
  .github/workflows/pr-labeler.yml
Labels: CI/CD

upda
  ios/Runner/Runner-Bridging-Header.h
  lib/ui/todo_page.dart
Labels: lib, ios

add workflow
  .github/workflows/issue-links.yml
Labels: CI/CD

Update
  .github/workflows/issue-links.yml
Labels: CI/CD

s
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/issue-links.yml
Labels: CI/CD

s
  .github/workflows/issue-links.yml
Labels: CI/CD

add match file
  renovate.json
Labels: none

remove ,
  renovate.json
Labels: none

renovate json
  renovate.json
Labels: none

update renovate
  renovate.json
Labels: none

update renovate
  renovate.json
Labels: none

update v
  pubspec.yaml
Labels: none

update config
  renovate.json
Labels: none

update con
  renovate.json
Labels: none

updat erenovate.json
  renovate.json
Labels: none

Update reno
  renovate.json
Labels: none

Update reno
  renovate.json
Labels: none

Update reno
  renovate.json
Labels: none

Add dio
  lib/http_client.dart
  pubspec.lock
  pubspec.yaml
Labels: lib

Add api_page
  README.md
  lib/app.dart
  lib/models/post.dart
  lib/models/post.freezed.dart
  lib/models/post.g.dart
  lib/ui/api_page.dart
  lib/viewModels/post_view_model.dart
  lib/viewModels/post_view_model.freezed.dart
Labels: lib

remove log
  lib/viewModels/post_view_model.dart
Labels: lib

Add loader
  lib/ui/api_page.dart
  lib/widgets/loader.dart
Labels: lib

Create separate listItems
  lib/ui/api_page.dart
Labels: lib

add colros
  lib/styles/colros.dart
  lib/ui/api_page.dart
Labels: lib

custome style
  lib/styles/colors.dart
  lib/ui/api_page.dart
Labels: lib

.github/labeler.yml:

# Labelの追加・マッチパターンは下記参照
# https://github.com/actions/labeler#create-githublabeleryml
CI/CD:
  - any: ['.github/**/*']

lib:
  - any: ['lib/**/*']

ios:
  - any: ['ios/**/*']

docs:
 - any: ['docs/**/*']
